@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Begin letter */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"]{
	text-align: initial;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* End letter */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i,
[epub|type~="epigraph"] i[xml|lang]{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

/* Begin bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}
/* End bridgeheads */

/* Begin verse */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}
/* End verse */

body [xml|lang]{
	font-style: italic;
}

em i[xml|lang],
blockquote cite i[xml|lang]{
	font-style: normal;
}

table{
	margin: 1em auto 1em auto;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

#chapter-1-4 td{
	text-align: center;
}

#memoir-1 header p{
	text-indent: 0;
}

#chapter-1-2 > header p:last-of-type,
#chapter-1-4-1 footer p,
#chapter-1-4-2-5-1 header p{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

#chapter-1-4-2 blockquote:nth-of-type(6),
#part-1-5-2-2 blockquote:first-of-type{
	text-align: center;
}

#chapter-1-3-1 [epub|type~="epigraph"]{
	margin-top: 1em;
}

#chapter-1-3-6 blockquote:first-of-type cite,
#chapter-1-3-6 blockquote:nth-of-type(2) cite{
	display: inline;
	font-style: normal;
	text-align: initial;
}

#chapter-1-5 ol:nth-of-type(2){
	list-style-type: upper-roman;
}

#memoir-2 > blockquote{
	margin-left: 0;
	margin-right: 0;
}

#memoir-2 time{
	font-style: italic;
}
